<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <%- include('./partials/nav') %>
  <body>
    <!-- <h1>Home Page</h1> -->
    <h1>Welcome to <%= restaurant.name %></h1>

    <h3>Restaurant name: <%= restaurant.name %></h3>
    <h3>Address: <%= restaurant.address %></h3>
    <h3>Phone: <%= restaurant.phone %></h3>

    <h4>
      <% if (restaurant.isOpen) { %> Yes, we are open! <% } else { %> Sorry, we
      are closed. <% } %>
    </h4>
  </body>
</html>
